AppNueva/Connected Services/ServiciosWCF.Catalogo/metadata4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alpaca-studio.net/web/catalogo/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Catalogo.Contracts" />
  <xs:import schemaLocation="http://alpaca-studio.net/web/catalogo/metadata?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Obtener_Categorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Catalogo.Contracts" minOccurs="0" name="Obtener_CategoriasResult" nillable="true" type="q1:ArrayOfArticuloCategoriaCatalogoWebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ArticulosPorCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Categoria" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ArticulosPorCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Catalogo.Contracts" minOccurs="0" name="Obtener_ArticulosPorCategoriaResult" nillable="true" type="q2:ArrayOfArticuloCatalogoWebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ColoresPorArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Articulo" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ColoresPorArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Catalogo.Contracts" minOccurs="0" name="Obtener_ColoresPorArticuloResult" nillable="true" type="q3:ArrayOfArticuloColorCatalogoWebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdsArticulosExistentesPorIdCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Categoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdsArticulosExistentesPorIdCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Obtener_IdsArticulosExistentesPorIdCategoriaResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdsArticulosExistentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids_Articulos" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdsArticulosExistentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Obtener_IdsArticulosExistentesResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdsColoresPorArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Articulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdsColoresPorArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Obtener_IdsColoresPorArticuloResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo_Articulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Catalogo.Contracts" minOccurs="0" name="articulo" nillable="true" type="q8:ArticuloWebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo_ArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo_Color">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Catalogo.Contracts" minOccurs="0" name="colores" nillable="true" type="q9:ArrayOfArticuloColorWebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo_ColorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Articulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q10:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_ArticulosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Colores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_ColoresResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Iniciar_Sesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iniciar_SesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Catalogo.Contracts" minOccurs="0" name="Iniciar_SesionResult" nillable="true" type="q12:InfoInicioSesionUsuarioWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>