AppNueva/Connected Services/ServiciosWCF.Mensajes/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Mensajes.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Mensajes.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alpaca-studio.net/web/mensajes/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Genericos" />
  <xs:complexType name="ArrayOfMensajeWebData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MensajeWebData" nillable="true" type="tns:MensajeWebData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMensajeWebData" nillable="true" type="tns:ArrayOfMensajeWebData" />
  <xs:complexType name="MensajeWebData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Genericos" base="q1:EntidadIdentificable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombresApellidos" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MensajeWebData" nillable="true" type="tns:MensajeWebData" />
</xs:schema>