AppNueva/Connected Services/ServiciosWCF.Mensajes/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alpaca-studio.net/web/mensajes/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Mensajes.Contracts" />
  <xs:import schemaLocation="http://alpaca-studio.net/web/mensajes/metadata?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Obtener_MensajesWeb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MensajesWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nubian.Servicios.Web.Mensajes.Contracts" minOccurs="0" name="Obtener_MensajesWebResult" nillable="true" type="q1:ArrayOfMensajeWebData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NroMensajesWebExistentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NroMensajesWebExistentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_NroMensajesWebExistentesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo_MensajeWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombresApeliidos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nuevo_MensajeWebResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_MensajesWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_MensajesWebResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>